hypr/.config/hypr/conf/monitor.conf
hypr/.config/hypr/conf/environment.conf

gtk/.config/gtk-3.0/gtk.css
gtk/.config/gtk-4.0/gtk.css
kitty/.config/kitty/colors.conf
qt/.config/qt5ct/colors/matugen-qt5ct.conf
qt/.config/qt6ct/colors/matugen-qt6ct.conf
spicetify/.config/spicetify/Themes/Comfy/color.ini
vesktop/.config/vesktop/themes/midnight.theme.css
yazi/.config/yazi/theme.toml
zathura/.config/zathura/zathurarc
hypr/.config/hypr/colors.conf
rofi/.config/rofi/colors.rasi
waybar/.config/waybar/colors.css
