@import "themes/matugen-waybar.css";

#waybar.top {
  background: none;
}

#waybar.top > box.horizontal {
  background: @surface_dim;
  box-shadow: 0 0 4pt @surface_dim;
  border-radius: 4pt;
  background-clip: padding-box;
  margin: 6pt;
  padding: 2pt;
}

#clock {
  color: @on_surface;
}

#workspaces {
  margin-left: 12pt;
}
#workspaces button {
  color: @outline_variant;
}
#workspaces button:not(:first-child) {
  margin-left: 2pt;
}
#workspaces button.visible {
  color: @tertiary;
}
#workspaces button.active {
 color: @secondary;
}
#workspaces button:hover, #workspaces button:focus {
  background: none;
  border-color: transparent;
  box-shadow: none;
}
#workspaces button:hover:not(.active):not(.visible), #workspaces button:focus:not(.active):not(.visible) {
  color: @on_surface_variant;
}

#mpris {
  background: @surface_container_high;
  color: @on_secondary_container;
  border-radius: 12pt;
  margin-left: 15pt;
  padding: 0 8pt;
}

#window {
  margin-left: 15pt;
  margin-right: 20pt;
  color: @on_surface_variant;
}

#memory {
  color: @on_error_container;
  margin-right: 12pt;
}

#tray {
  background: @surface_dim;
  box-shadow: 0 0 4pt @surface_dim;
  border-radius: 12pt;
  margin-right: 10pt;
  padding: 2pt;
}

#tray menu {
  background: @surface_container_high;
  color: @on_surface;
  border-radius: 8pt;
  padding: 4pt;
}

#tray menu * {
  margin: 2pt;
}

#tray menu check {
  margin-right: 4pt;
}

#tray menu item:hover {
  background: @surface_bright;
  color: @on_primary;
}

@keyframes blink {
  to {
    background-color: rgba(30, 34, 42, 0.5);
    color: @on_surface;
  }
}
#backlight {
  color: @on_tertiary_container;
  margin-right: 10pt;
}

#pulseaudio {
  color: @on_surface;
  margin-right: 10pt;
}

#backlight-slider slider,
#pulseaudio-slider slider {
    background-color: @primary;
    background-color: transparent;
    box-shadow: none;
    margin-right: 7px;
}

#backlight-slider slider:hover,
#pulseaudio-slider slider:hover{
  background-color: transparent;
}


#backlight-slider slider:active,
#pulseaudio-slider slider:active {
  background-color: transparent;
}

#backlight-slider trough,
#pulseaudio-slider trough {
    margin-top: -3px;
    min-width: 90px;
    min-height: 2px;
    margin-bottom: -4px;
    border-radius: 8px;
    background: @outline_variant;
}

#backlight-slider highlight,
#pulseaudio-slider highlight {
    border-radius: 8px;
    background-color: @primary;
}

#battery {
  color: @secondary_fixed_dim;
  margin-right: 15pt;
}

#battery.full,
#battery.good,
#battery.charging,
#battery.plugged {
  color: @on_secondary_container;
}

#battery.critical:not(.charging) {
  color: @error;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

* {
  margin: 0;
  padding: 0;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 8.5pt;
  font-weight: 800;
  transition-property: background;
  transition-duration: 0.5s;
}

tooltip {
  background: @surface_dim;
  color: @on_surface;
  border-radius: 5pt;
}

