@import "colors.css";

#waybar.top {
  background: none;
}

#waybar.top > box.horizontal {
  background: @surface_dim;
  box-shadow: 0 0 4pt @surface_dim;
  border-radius: 12pt;
  background-clip: padding-box;
  margin: 6pt;
  padding: 2pt;
}

#custom-rofi {
  margin-right: 11pt;
  font-size: 12pt;
  color: @primary;
}

#clock {
  color: @on_surface;
}

#workspaces {
  margin-left: 12pt;
}
#workspaces button {
  color: @outline_variant;
}
#workspaces button:not(:first-child) {
  margin-left: 2pt;
}
#workspaces button.visible {
  color: @tertiary;
}
#workspaces button.active {
 color: @secondary;
}
#workspaces button:hover, #workspaces button:focus {
  background: none;
  border-color: transparent;
  box-shadow: none;
}
#workspaces button:hover:not(.active):not(.visible), #workspaces button:focus:not(.active):not(.visible) {
  color: @on_surface_variant;
}

#mpris {
  background: @surface_container_high;
  color: @on_secondary_container;
  border-radius: 12pt;
  margin-left: 15pt;
  padding: 0 8pt;
}

#window {
  margin-left: 15pt;
  margin-right: 20pt;
  color: @on_surface_variant;
}

#memory {
  color: @on_error_container;
  margin-right: 12pt;
}

#tray {
  margin-right: 10pt;
}
#tray menu {
  background: @surface_container_high;
  padding: 2pt;
}
#tray menu * {
  margin: 2pt;
}
#tray menu check {
  margin-right: 4pt;
}

@keyframes blink {
  to {
    background-color: rgba(30, 34, 42, 0.5);
    color: @on_surface;
  }
}
#backlight {
  color: @on_tertiary_container;
  margin-right: 10pt;
}

#pulseaudio {
  color: @on_surface;
  margin-right: 10pt;
}

#battery {
  color: @secondary_fixed_dim;
  margin-right: 15pt;
}

#battery.full,
#battery.good,
#battery.charging,
#battery.plugged {
  color: @on_secondary_container;
}

#battery.critical:not(.charging) {
  color: @error;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#custom-color-picker {
  margin-right: 18pt;
  font-size: 9pt;
}

#custom-screenshot {
  margin-right: 18pt;
  font-size: 10pt;
}

#custom-wallpaper {
  margin-right: 16pt;
  font-size: 12pt;
}

#custom-power {
  margin-left: 11pt;
  padding-right: 3pt;
  font-size: 10pt;
  color: @primary;
}

#custom-file-manager {
  background: transparent;
  background-image: url("/.config/waybar/icons/file-manager.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28pt;
  font-size: 28pt;
  padding: 0 6pt;
  margin: 0 2pt;
}

#custom-terminal {
  background: transparent;
  background-image: url("/.config/waybar/icons/terminal.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28pt;
  font-size: 28pt;
  padding: 0 6pt;
  margin: 0 2pt;
}

#custom-zen {
  background: transparent;
  background-image: url("/.config/waybar/icons/zen.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28pt;
  font-size: 28pt;
  padding: 0 6pt;
  margin: 0 2pt;
}

#custom-spotify {
  background: transparent;
  background-image: url("/.config/waybar/icons/spotify.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28pt;
  font-size: 28pt;
  padding: 0 6pt;
  margin: 0 2pt;
}

#custom-obs-studio {
  background: transparent;
  background-image: url("/.config/waybar/icons/obs-studio.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28pt;
  font-size: 28pt;
  padding: 0 6pt;
  margin: 0 2pt;
}

#custom-discord {
  background: transparent;
  background-image: url("/.config/waybar/icons/discord.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28pt;
  font-size: 28pt;
  padding: 0 6pt;
  margin: 0 2pt;
}

#custom-telegram {
  background: transparent;
  background-image: url("/.config/waybar/icons/telegram.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28pt;
  font-size: 28pt;
  padding: 0 6pt;
  margin: 0 2pt;
}

#custom-whatsapp {
  background: transparent;
  background-image: url("/.config/waybar/icons/whatsapp.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28pt;
  font-size: 28pt;
  padding: 0 6pt;
  margin: 0 2pt;
}

#custom-adobe-photoshop {
  background: transparent;
  background-image: url("/.config/waybar/icons/adobe-photoshop.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28pt;
  font-size: 28pt;
  padding: 0 6pt;
  margin: 0 2pt;
}

#custom-gimp {
  background: transparent;
  background-image: url("/.config/waybar/icons/gimp.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28pt;
  font-size: 28pt;
  padding: 0 6pt;
  margin: 0 2pt;
}

#custom-pinta {
  background: transparent;
  background-image: url("/.config/waybar/icons/pinta.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28pt;
  font-size: 28pt;
  padding: 0 6pt;
  margin: 0 2pt;
}

#custom-inkscape {
  background: transparent;
  background-image: url("/.config/waybar/icons/inkscape.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28pt;
  font-size: 28pt;
  padding: 0 6pt;
  margin: 0 2pt;
}

#custom-davinci-resolve {
  background: transparent;
  background-image: url("/.config/waybar/icons/davinci-resolve.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28pt;
  font-size: 28pt;
  padding: 0 6pt;
  margin: 0 2pt;
}

#custom-steam {
  background: transparent;
  background-image: url("/.config/waybar/icons/steam.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28pt;
  font-size: 28pt;
  padding: 0 6pt;
  margin: 0 2pt;
}

#custom-heroic {
  background: transparent;
  background-image: url("/.config/waybar/icons/heroic.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28pt;
  font-size: 28pt;
  padding: 0 6pt;
  margin: 0 2pt;
}

#custom-ryujinx {
  background: transparent;
  background-image: url("/.config/waybar/icons/ryujinx.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28pt;
  font-size: 28pt;
  padding: 0 6pt;
  margin: 0 2pt;
}

#custom-lutris {
  background: transparent;
  background-image: url("/.config/waybar/icons/lutris.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28pt;
  font-size: 28pt;
  padding: 0 6pt;
  margin: 0 2pt;
}

#custom-obsidian {
  background: transparent;
  background-image: url("/.config/waybar/icons/obsidian.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28pt;
  font-size: 28pt;
  padding: 0 6pt;
  margin: 0 2pt;
}

#custom-unity {
  background: transparent;
  background-image: url("/.config/waybar/icons/unity.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28pt;
  font-size: 28pt;
  padding: 0 6pt;
  margin: 0 2pt;
}

#custom-jetbrains-rider {
  background: transparent;
  background-image: url("/.config/waybar/icons/jetbrains-rider.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28pt;
  font-size: 28pt;
  padding: 0 6pt;
  margin: 0 2pt;
}

#custom-jetbrains-idea {
  background: transparent;
  background-image: url("/.config/waybar/icons/jetbrains-idea.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28pt;
  font-size: 28pt;
  padding: 0 6pt;
  margin: 0 2pt;
}

#custom-jetbrains-pycharm {
  background: transparent;
  background-image: url("/.config/waybar/icons/jetbrains-pycharm.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28pt;
  font-size: 28pt;
  padding: 0 6pt;
  margin: 0 2pt;
}

#custom-jetbrains-webstorm {
  background: transparent;
  background-image: url("/.config/waybar/icons/jetbrains-webstorm.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28pt;
  font-size: 28pt;
  padding: 0 6pt;
  margin: 0 2pt;
}

#custom-neovim {
  background: transparent;
  background-image: url("/.config/waybar/icons/neovim.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28pt;
  font-size: 28pt;
  padding: 0 6pt;
  margin: 0 2pt;
}

#custom-vs-code {
  background: transparent;
  background-image: url("/.config/waybar/icons/vs-code.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28pt;
  font-size: 28pt;
  padding: 0 6pt;
  margin: 0 2pt;
}

#custom-docker {
  background: transparent;
  background-image: url("/.config/waybar/icons/docker.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28pt;
  font-size: 28pt;
  padding: 0 6pt;
  margin: 0 2pt;
}

#custom-beekeeper-studio {
  background: transparent;
  background-image: url("/.config/waybar/icons/beekeeper-studio.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28pt;
  font-size: 28pt;
  padding: 0 6pt;
  margin: 0 2pt;
}

#custom-excalidraw {
  background: transparent;
  background-image: url("/.config/waybar/icons/excalidraw.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28pt;
  font-size: 28pt;
  padding: 0 6pt;
  margin: 0 2pt;
}

#custom-figma {
  background: transparent;
  background-image: url("/.config/waybar/icons/figma.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28pt;
  font-size: 28pt;
  padding: 0 6pt;
  margin: 0 2pt;
}

#custom-bruno {
  background: transparent;
  background-image: url("/.config/waybar/icons/bruno.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28pt;
  font-size: 28pt;
  padding: 0 6pt;
  margin: 0 2pt;
}

#custom-calculator {
  background: transparent;
  background-image: url("/.config/waybar/icons/calculator.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28pt;
  font-size: 28pt;
  padding: 0 6pt;
  margin: 0 2pt;
}

#custom-anki {
  background: transparent;
  background-image: url("/.config/waybar/icons/anki.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28pt;
  font-size: 28pt;
  padding: 0 6pt;
  margin: 0 2pt;
}

* {
  margin: 0;
  padding: 0;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 8.5pt;
  font-weight: 800;
  transition-property: background;
  transition-duration: 0.5s;
}

tooltip {
  background: @surface_dim;
  color: @on_surface;
  border-radius: 5pt;
}

/*# sourceMappingURL=style.css.map */
